// colors
$cardColorBackground: $colorBackground !default;
$cardColorContent: $colorContent !default;
$cardColorBorder: $colorBorder !default;

// fonts
$cardFontFamily: $fontFamilySystem !default;
$cardFontSizeHeader: $fontSizeHeader !default;
$cardFontSizeContent: $fontSizeContent !default;

// radius
$cardBorderRadius: 3px;