$color-blue: #2d8cf0 !default;
$color-purple: #5d65b9 !default;
$color-slate: #708090 !default;

$color-primary: $color-blue; //#654ea3
$color-secondary: $color-purple;

$color-info: #2db7f5 !default;
$color-success: #19be6b !default;
$color-warning: #ff9900 !default;
$color-error: #ed4014 !default;

$color-title: #17233d !default;
$color-content: #515a6e !default;

$color-disabled: #c5c8ce !default;

$color-divider: #e8eaec !default;
$color-border: #dcdee2 !default;
$color-background: #f8f8f9 !default;
$color-dark: #212529;